@import 'variables.scss';

.btn {
  padding: $padding $padding*2;
  background: $green-bg;
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $green-bg-hover;
  }
}